# python == 3.9.11
# Core dependencies
python-dotenv==1.0.1
pyyaml==6.0.2
typing-extensions==4.12.2; python_version < "3.12"

# GUI
PySide6==6.7.2
# fluent ui
PySide6-Fluent-Widgets==1.7.1
# Need perform that "python pywin32_postinstall.py -install" in the python env at dir: '~/env/Script/', 
#   when pywin32 installed.
pywin32

# Keyboard control
pynput==1.7.7

# Markdown support
markdown==3.3.6

# AI/LLM related
openai==1.42.0
langchain==0.3.0
langchain-openai==0.2.2
langchain-community==0.3.0

# for builtin plugins
# Vectordb pdf-tools
langchain-chroma==0.1.4
chromadb==0.5.23
pymupdf==1.24.10

## Compensate for dependencies
# Note: openai 1.42.0 depends on httpx==0.27.0. If httpx is upgraded (e.g. to 28.1), issues may occur (possibly an openai bug):
#   d:\Anaconda3\envs\ananxw\lib\site-packages\openai\_base_client.py", line 742
#   self._client = http_client or SyncHttpxClientWrapper( ... super().__init__(**kwargs)
#   __init__() got an unexpected keyword argument 'proxies'
#   
httpx==0.27.0 

#
# pyinstaller==6.11.1